<h3 mat-dialog-title>Resumen</h3>
<mat-dialog-content class="mat-typography min-width248" fxLayout="column" fxLayoutAlign="start center">
  <div>
    <p>Total:</p>
    <p class="bold fs14em">{{orderLinesGetTotal() | number:'1.2-2'}} €</p>
    <mat-form-field color="accent" class="display-block">
        <input [(ngModel)]="entregado" id="entregado" type="number" placeholder="Entregado cliente" matInput>
    </mat-form-field>
    <p>Vuelta:</p>
    <p class="bold fs14em">{{entregado - orderLinesGetTotal() | number:'1.2-2'}} €</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-2" fxLayoutAlign="space-between center">
  <button color="accent" mat-button mat-dialog-close>Cancelar</button>
  <button color="accent" mat-button [mat-dialog-close]="true">Confirmar</button>
</mat-dialog-actions>