<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="login-main mat-elevation-z12">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <mat-form-field class="display-block">
            <input id="username" type="text" placeholder="Username" formControlName="username" required matInput>
            <mat-error *ngIf="loginForm.get('username').errors?.required">{{validationMessages.username.required}}</mat-error>
            <mat-error *ngIf="loginForm.get('username').errors?.minlength">{{validationMessages.username.minlength}}</mat-error>
            <mat-error *ngIf="loginForm.get('username').errors?.maxlength">{{validationMessages.username.maxlength}}</mat-error>
          </mat-form-field>
          <mat-form-field class="display-block">
            <input id="password" type="password" placeholder="Password" formControlName="password" required matInput>
            <mat-error *ngIf="loginForm.get('password').errors?.required">{{validationMessages.password.required}}</mat-error>
            <mat-error *ngIf="loginForm.get('password').errors?.minlength">{{validationMessages.password.minlength}}</mat-error>
            <mat-error *ngIf="loginForm.get('password').errors?.maxlength">{{validationMessages.password.maxlength}}</mat-error>
          </mat-form-field>
          <div class="submitButtonDiv" fxLayout="row" fxLayoutAlign="space-between center center">
            <button mat-raised-button color="primary" type="submit" [disabled]="!isValidForm()">Login <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
            <mat-error *ngIf="loginError">{{loginError}}</mat-error>
          </div>
        </form>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-footer>
        <mat-grid-list cols="2" rowHeight="50px">
          <mat-grid-tile>
            <a class="redirect" [routerLink]="['/signup']">Sign up</a>
          </mat-grid-tile>
          <mat-grid-tile>
            <a class="redirect" [routerLink]="['/restore-password']">Forgotten password?</a>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>