<h2 mat-dialog-title>Recortar imagen</h2>
<mat-dialog-content class="mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <input hidden type="file" #imgFileInput />
  <img class="border" width="400" height="300" [src]="croppedImage" />
  <image-cropper #imageCropper 
    style="min-width: 100%; width: 100%;"
    class="border" 
    [imageChangedEvent]="imageChangedEvent" 
    [maintainAspectRatio]="true" 
    [aspectRatio]="4 / 3"
    [resizeToWidth]="200" 
    [imageQuality]="75"
    format="jpeg" 
    (imageCropped)="imageCropped($event)" >
  </image-cropper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="crop()">Recortar</button>
</mat-dialog-actions>