<div class="product-container" #productsGrid fxLayout="column">
  <mat-card>
    <mat-card-title>Productos</mat-card-title>
    <mat-card-subtitle *ngIf="dataSource && dataSource?.data?.length == 0">A&uacute;n no has creado ning&uacute;n
      producto,
      ¡Rellena el siguiente formulario para empezar la configuraci&oacute;n!</mat-card-subtitle>


    <!-- Tabla Productos -->
    <mat-card-content *ngIf="dataSource && dataSource?.data?.length > 0">
      <div class="loading-indicator">
        <mat-spinner *ngIf="isLoadingResults" class></mat-spinner>
      </div>
      <div *ngIf="!isLoadingResults">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef class="noPadding"> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'selected': selected == element}" class="noPadding pointer"
              (click)="toggleSelected(element)"> <img width="64" height="48" [src]="element.image" /> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="noPadding"> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'selected': selected == element}" class="noPadding pointer"
              (click)="toggleSelected(element)"> {{element.name}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          [showFirstLastButtons]="true" [length]="listLength" (page)="changePage($event)">
        </mat-paginator>
      </div>
    </mat-card-content>
    <!-- Fin Tabla Productos -->

    <!-- Formulario de creacion de productos -->
    <mat-card-title *ngIf="!selected">Crear nuevo producto</mat-card-title>
    <mat-card-content *ngIf="createProductForm && !selected">
      <form [formGroup]="createProductForm" (ngSubmit)="createProduct()" fxLayout="column">
        <!-- Imagen, nombre y catalogable -->
        <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex.xs="100%" fxFlex="50%" fxLayout.xs="row" fxLayout="column" fxLayoutAlign.xs="center center"
            fxLayoutAlign="start start">
            <div class="img-with-button mat-elevation-z2">
              <img width="300" height="225" [src]="croppedImage" />
              <button mat-raised-button type="button" class="remove-photo" color="warn" (click)="setEmptyCroppedImage()">
                <mat-icon>remove</mat-icon>
              </button>
              <button mat-raised-button type="button" class="add-photo" color="accent" (click)="imgFileInput.click()">
                <mat-icon>add_a_photo</mat-icon>
              </button>
              <input hidden type="file" #imgFileInput (change)="fileChangeEvent($event);" />
            </div>
          </div>
          <div class="w-100" fxFlex.xs="100%" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <!-- Product Name -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
              <div fxLayout="column" fxFlexFill>
                <mat-form-field class="display-block">
                  <input formControlName="name" matInput placeholder="Nombre:" required>
                </mat-form-field>
              </div>
            </div>
            <!-- End Product Name -->
            <!-- Product Price -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
              <div fxLayout="column" fxFlexFill>
                <mat-form-field class="display-block">
                  <input type="number" formControlName="price" matInput placeholder="Precio:" required>
                </mat-form-field>
              </div>
            </div>
            <!-- End Product Price -->
            <!-- Product IVA -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
              <div fxLayout="column" fxFlexFill>
                <mat-form-field>
                  <mat-select formControlName="iva" placeholder="IVA">
                    <mat-option *ngFor="let type of ivaType" [value]="type.value">{{type.viewValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- End Product IVA -->
            <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
              <!-- Catalogable product -->
              <div fxLayout="column" fxFlexFill>
                <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'¿Es un producto que se pueda vender?'"></app-form-header> -->
                <mat-slide-toggle formControlName="catalogable">Producto para el cat&aacute;logo</mat-slide-toggle>
                <mat-slide-toggle formControlName="forKitchen">Producto para cocina</mat-slide-toggle>
              </div>
              <!-- End Catalogable product -->
            </div>
          </div>
        </div>
        <!-- Fin Imagen, nombre y catalogable -->
        <!-- Product Families -->
        <app-form-header [icon]="'arrow_right_alt'" [text]="'¿A qu&eacute; familias pertenece?'"></app-form-header>
        <div fxLayout="row">
          <div class="twin-column-list left">
            <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'No seleccionadas'"></app-form-header> -->
            <mat-list class="notSelected" *ngFor="let notSelected of notSelectedFamilies">
              <mat-list-item class="pointer" (click)="addToSelected(notSelected)"><span>{{notSelected.name}}</span></mat-list-item>
            </mat-list>
          </div>
          <div class="twin-column-list right">
            <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'Seleccionadas'"></app-form-header> -->
            <mat-list class="selected" *ngFor="let selected of selectedFamilies">
              <mat-list-item class="pointer" (click)="removeFromSelected(selected)"><span>{{selected.name}}</span></mat-list-item>
            </mat-list>
          </div>
        </div>
        <!-- End Product Families -->
        <!-- Product Type Selector -->
        <app-form-header [icon]="'arrow_right_alt'" [text]="'¿Es un producto b&aacute;sico o compuesto?'"></app-form-header>
        <mat-form-field>
          <mat-select formControlName="productType" placeholder="Tipo de producto">
            <mat-option *ngFor="let type of productTypes" [value]="type.value">{{type.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- End Product Type Selector -->
        <!-- Composite Product Extra -->
        <div *ngIf="showCompositeForm()">
          <app-form-header [icon]="'arrow_right_alt'" [text]="'¿De qu&eacute; productos se compone?'"></app-form-header>
          <div fxLayout="row">
            <div class="twin-column-list left">
              <mat-list class="notSelected" *ngFor="let notSelected of notSelectedProducts">
                <mat-list-item class="pointer" (click)="addToSelectedProduct(notSelected)"><span>{{notSelected.name}}</span></mat-list-item>
              </mat-list>
            </div>
            <div class="twin-column-list right">
              <mat-list class="selected" *ngFor="let selected of selectedProducts">
                <mat-list-item class="pointer" (click)="removeFromSelectedProduct(selected)"><span>{{selected.name}}</span></mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <!-- End Composite Product Extra -->
        <mat-error *ngIf="formNameRepeated">{{ProductValidationMessages?.name?.nameInUse}}</mat-error>
        <div class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="space-between center center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!isValidForm(createProductForm)">Crear
            <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
        </div>
      </form>
    </mat-card-content>
    <!-- Fin Formulario de creacion de productos -->

    <!-- Formulario de actualizacion de productos -->
    <mat-card-title *ngIf="selected">Actualizar producto</mat-card-title>
    <mat-card-content *ngIf="updateProductForm && selected">
      <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()" fxLayout="column">
        <input hidden formControlName="id" required />
        <!-- Imagen, nombre y catalogable -->
        <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex.xs="100%" fxFlex="50%" fxLayout.xs="row" fxLayout="column" fxLayoutAlign.xs="center center"
            fxLayoutAlign="start start">
            <div class="img-with-button mat-elevation-z1">
              <img width="300" height="225" [src]="selected.image" />
              <button mat-raised-button type="button" class="remove-photo" color="warn" (click)="setEmptyCroppedImage()">
                <mat-icon>remove</mat-icon>
              </button>
              <button mat-raised-button type="button" class="add-photo" color="accent" (click)="imgFileInput.click()">
                <mat-icon>add_a_photo</mat-icon>
              </button>
              <input hidden type="file" #imgFileInput (change)="fileChangeEvent($event);" />
            </div>
          </div>
          <div class="w-100" fxFlex.xs="100%" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <!-- Product Name -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
              <div fxLayout="column" fxFlexFill>
                <mat-form-field class="display-block">
                  <input formControlName="name" matInput placeholder="Nombre:" form required>
                </mat-form-field>
              </div>
            </div>
            <!-- End Product Name -->
            <!-- Product Price -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
                <div fxLayout="column" fxFlexFill>
                  <mat-form-field class="display-block">
                    <input type="number" formControlName="price" matInput placeholder="Precio:" required>
                  </mat-form-field>
                </div>
              </div>
              <!-- End Product Price -->
              <!-- Product IVA -->
              <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
                <div fxLayout="column" fxFlexFill>
                  <mat-form-field>
                    <mat-select [(value)]="selected.iva" formControlName="iva" placeholder="IVA">
                      <mat-option *ngFor="let type of ivaType" [value]="type.value">{{type.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- End Product IVA -->
            <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
              <!-- Catalogable product -->
              <div fxLayout="column" fxFlexFill>
                <mat-slide-toggle formControlName="catalogable">Producto para el cat&aacute;logo</mat-slide-toggle>
                <mat-slide-toggle formControlName="forKitchen">Producto para cocina</mat-slide-toggle>
              </div>
              <!-- End Catalogable product -->
            </div>
          </div>
        </div>
        <!-- Fin Imagen, nombre y catalogable -->
        <!-- Product Families -->
        <app-form-header [icon]="'arrow_right_alt'" [text]="'¿A qu&eacute; familias pertenece?'"></app-form-header>
        <div fxLayout="row">
          <div class="twin-column-list left">
            <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'No seleccionadas'"></app-form-header> -->
            <mat-list class="notSelected" *ngFor="let notSelected of notSelectedFamilies">
              <mat-list-item class="pointer" (click)="addToSelected(notSelected)"><span>{{notSelected.name}}</span></mat-list-item>
            </mat-list>
          </div>
          <div class="twin-column-list right">
            <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'Seleccionadas'"></app-form-header> -->
            <mat-list class="selected" *ngFor="let selected of selectedFamilies">
              <mat-list-item class="pointer" (click)="removeFromSelected(selected)"><span>{{selected.name}}</span></mat-list-item>
            </mat-list>
          </div>
        </div>
        <!-- End Product Families -->
        <!-- Product Type Selector -->
        <app-form-header [icon]="'arrow_right_alt'" [text]="'¿Es un producto b&aacute;sico o compuesto?'"></app-form-header>
        <mat-form-field>
          <mat-select [(value)]="selected.productType" placeholder="Tipo de producto">
            <mat-option *ngFor="let type of productTypes" [value]="type.value">{{type.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- End Product Type Selector -->
        <!-- Composite Product Extra -->
        <div *ngIf="showCompositeUpdateForm()">
          <app-form-header [icon]="'arrow_right_alt'" [text]="'¿De qu&eacute; productos se compone?'"></app-form-header>
          <div fxLayout="row">
            <div class="twin-column-list left">
              <mat-list class="notSelected" *ngFor="let notSelected of notSelectedProductsUpdateFilter()">
                <mat-list-item class="pointer" (click)="addToSelectedProduct(notSelected)"><span>{{notSelected.name}}</span></mat-list-item>
              </mat-list>
            </div>
            <div class="twin-column-list right">
              <mat-list class="selected" *ngFor="let selected of selectedProducts">
                <mat-list-item class="pointer" (click)="removeFromSelectedProduct(selected)"><span>{{selected.name}}</span></mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <!-- End Composite Product Extra -->
        <mat-error *ngIf="formNameRepeated">{{ProductValidationMessages?.name?.nameInUse}}</mat-error>
        <div class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="space-between center center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!isValidForm(updateProductForm)">Actualizar
            <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
        </div>
      </form>
    </mat-card-content>
    <!-- Fin Formulario de actualizacion de productos -->

  </mat-card>
</div>