<div class="product-container" #productsGrid fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
  <mat-card class="200W with-margin">
    <mat-card-header>
      <mat-card-title>Lata Coca Cola</mat-card-title>
      <mat-card-subtitle><small>Bebidas</small></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="croppedImage" />
  </mat-card>
</div>
<div class="product-container" fxLayout="column">
  <mat-card>
    <mat-card-title>Productos</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form fxLayout="column">
        <div fxLayout="row" fxLayoutGap="16px">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div class="img-with-button mat-elevation-z2">
              <img width="200" height="150" [src]="croppedImage" />
              <button class="remove-photo" mat-mini-fab color="warn" (click)="setEmptyCroppedImage()">
                <mat-icon>remove</mat-icon>
              </button>
              <button class="add-photo" mat-mini-fab color="accent" (click)="imgFileInput.click()">
                <mat-icon>add_a_photo</mat-icon>
              </button>
              <input hidden type="file" #imgFileInput (change)="fileChangeEvent($event);" />
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="16px">
            <!-- Product Name -->
            <div fxLayout="column">
              <app-form-header [icon]="'arrow_right_alt'" [text]="'Nombre del nuevo producto'"></app-form-header>
              <mat-form-field class="display-block">
                <input matInput placeholder="Name:" required>
              </mat-form-field>
            </div>
            <!-- End Product Name -->
            <!-- Catalogable product -->
            <div fxLayout="column">
              <app-form-header [icon]="'arrow_right_alt'" [text]="'¿Es un producto que se pueda vender?'"></app-form-header>
              <mat-slide-toggle>Producto para el cat&aacute;logo</mat-slide-toggle>
            </div>
            <!-- End Catalogable product -->
          </div>
        </div>
        <!-- Product Families -->
        <app-form-header [icon]="'arrow_right_alt'" [text]="'¿A qu&eacute; familias pertenece?'"></app-form-header>
        <div fxLayout="row">
          <div class="twin-column-list left">
            <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'No seleccionadas'"></app-form-header> -->
            <mat-list class="notSelected" *ngFor="let notSelected of notSelectedFamilies">
              <mat-list-item class="pointer" (click)="addToSelected(notSelected)"><span>{{notSelected}}</span></mat-list-item>
            </mat-list>
          </div>
          <div class="twin-column-list right">
            <!-- <app-form-header [icon]="'arrow_right_alt'" [text]="'Seleccionadas'"></app-form-header> -->
            <mat-list class="selected" *ngFor="let selected of selectedFamilies">
              <mat-list-item class="pointer" (click)="removeFromSelected(selected)"><span>{{selected}}</span></mat-list-item>
            </mat-list>
          </div>
        </div>
        <!-- End Product Families -->
        <!-- Product Type Selector -->
        <app-form-header [icon]="'arrow_right_alt'" [text]="'Es un producto b&aacute;sico o se compone de otros productos'"></app-form-header>
        <mat-form-field>
          <mat-select [(value)]="selected" placeholder="Tipo de producto">
            <mat-option *ngFor="let type of productTypes" [value]="type.value">{{type.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- End Product Type Selector -->
        <div *ngIf="showCompositeForm()">
          formulario compuesto
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>