<div class="restaurant-container" fxLayout="column">
  <mat-card class="h-100">
    <mat-card-title>{{restaurant?.name}}</mat-card-title>
    <mat-card-subtitle>{{restaurant?.address}}</mat-card-subtitle>


    <mat-tab-group color="accent">
      <mat-tab label="Asociaciones">

        <mat-card-title class="mt-2">Trabajadores</mat-card-title>
        <mat-card-content *ngIf="workersForm">
          <form [formGroup]="workersForm" (ngSubmit)="submitWorkers(workersForm.value)">
            <mat-form-field color="accent" class="display-block">
              <mat-select formControlName="workers" placeholder="Trabajadores" [compareWith]="compareFn" multiple>
                <mat-option *ngFor="let user of users" [(value)]="user">{{user.username}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="16px">
              <button mat-raised-button color="accent" type="submit" [disabled]="!isValidForm(workersForm)">Actualizar
                <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
            </div>
          </form>
        </mat-card-content>

        <mat-card-title>Pantallas</mat-card-title>
        <mat-card-content *ngIf="screensForm">
          <form [formGroup]="screensForm" (ngSubmit)="submitScreens(screensForm.value)">
            <mat-form-field color="accent" class="display-block">
              <mat-select formControlName="screens" placeholder="Pantallas" [compareWith]="compareFn" multiple>
                <mat-option *ngFor="let user of users" [(value)]="user">{{user.username}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="16px">
              <button mat-raised-button color="accent" type="submit" [disabled]="!isValidFormSC(screensForm)">Actualizar
                <mat-icon class="spin" *ngIf="loadingSC">autorenew</mat-icon></button>
            </div>
          </form>
        </mat-card-content>

      </mat-tab>
      <mat-tab label="Zonas">

        <mat-card-title class="mt-2">Zonas</mat-card-title>
        <!-- Tabla Zonas -->
        <mat-card-content *ngIf="dataSource && dataSource?.data?.length > 0">
          <div class="loading-indicator">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div *ngIf="!isLoadingResults">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="zoneType">
                <mat-header-cell *matHeaderCellDef class="noPadding">Zona: </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'selected': selected == element}"
                  class="noPadding pointer" (click)="toggleSelected(element)"> {{getViewValue(element.zoneType)}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef class="noPadding">Descripci&oacute;n: </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'selected': selected == element}"
                  class="flexMultiLine noPadding pointer" (click)="toggleSelected(element)"> {{element.description}}
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
            </mat-table>
            <mat-paginator color="accent" #paginator [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              [showFirstLastButtons]="true" [length]="listLength" (page)="changePage($event)">
            </mat-paginator>
          </div>
        </mat-card-content>
        <!-- Fin Tabla Zonas -->
        <!-- Formulario de creacion de zonas -->
        <mat-card-title *ngIf="!selected">Crear nueva zona</mat-card-title>
        <mat-card-title *ngIf="selected">Actualizar zona</mat-card-title>
        <mat-card-content *ngIf="zoneForm">
          <form ngForm #zoneFormRef [formGroup]="zoneForm" (ngSubmit)="submitZone(zoneFormRef)">
            <mat-form-field color="accent" *ngIf="!selected" class="display-block">
              <mat-select formControlName="zoneType" placeholder="Zona">
                <mat-option *ngFor="let zone of zoneType" [value]="zone.value">{{zone.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" *ngIf="selected" class="display-block">
              <mat-select formControlName="zoneType" placeholder="Zona" [compareWith]="compareZoneFn">
                <mat-option *ngFor="let zone of zoneType" [(value)]="zone">{{zone.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" class="display-block">
              <input id="description" type="text" placeholder="Descripcion" formControlName="description" required
                matInput>
              <!-- <mat-error *ngIf="zoneForm.get('username').errors?.required">{{validationMessages.username.required}}</mat-error> -->
              <!-- <mat-error *ngIf="zoneForm.get('username').errors?.minlength">{{validationMessages.username.minlength}}</mat-error> -->
              <!-- <mat-error *ngIf="zoneForm.get('username').errors?.maxlength">{{validationMessages.username.maxlength}}</mat-error> -->
            </mat-form-field>
            <div *ngIf="!selected" class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="16px">
              <button mat-raised-button color="accent" type="button" (click)="reset(zoneFormRef)">Limpiar</button>
              <button mat-raised-button color="accent" type="submit" [disabled]="!isValidForm(zoneForm)">Crear
                <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
            </div>
            <div *ngIf="selected" class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
              <button mat-raised-button color="warn" type="button"
                (click)="openDialog(selected, zoneForm)">Eliminar</button>
              <button mat-raised-button color="accent" type="submit" [disabled]="!isValidForm(zoneForm)">Actualizar
                <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
            </div>
          </form>
        </mat-card-content>
        <!-- Fin Formulario de creacion de zonas -->

      </mat-tab>
      <mat-tab label="Impresoras">
        <mat-card-title class="mt-2">Impresoras</mat-card-title>


        <!-- Tabla Impresoras -->
        <mat-card-content *ngIf="dataSourcePrinter && dataSourcePrinter?.data?.length > 0">
          <div class="loading-indicator">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div *ngIf="!isLoadingResults">
            <mat-table #table [dataSource]="dataSourcePrinter">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef class="noPadding">Nombre: </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'selectedPrinter': selectedPrinter == element}"
                  class="flexMultiLine noPadding pointer" (click)="toggleSelectedPrinter(element)"> {{element.name}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="printerid">
                <mat-header-cell *matHeaderCellDef class="noPadding">ID Impresora: </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'selectedPrinter': selectedPrinter == element}"
                  class="flexMultiLine noPadding pointer" (click)="toggleSelectedPrinter(element)">
                  {{element.printerid}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="defaultPrinter">
                  <mat-header-cell *matHeaderCellDef class="noPadding">Por defecto: </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'selectedPrinter': selectedPrinter == element}"
                    class="flexMultiLine noPadding pointer" (click)="toggleSelectedPrinter(element)">
                    {{element.defaultPrinter}}
                  </mat-cell>
                </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsPrinter"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsPrinter; let i = index"></mat-row>
            </mat-table>
            <mat-paginator color="accent" #paginatorPrinter [pageIndex]="pageNumberPrinter" [pageSize]="pageSizePrinter"
              [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" [length]="listLengthPrinter"
              (page)="changePagePrinter($event)">
            </mat-paginator>
          </div>
        </mat-card-content>
        <!-- Fin Tabla Impresoras -->


        <!-- Formulario de creacion de Impresoras -->
        <mat-card-title *ngIf="!selectedPrinter">Crear nueva impresora</mat-card-title>
        <mat-card-title *ngIf="selectedPrinter">Actualizar impresora</mat-card-title>
        <mat-card-content *ngIf="printerForm">
          <form ngForm #printerFormRef [formGroup]="printerForm" (ngSubmit)="submitPrinter(printerFormRef)">
            <mat-form-field color="accent" class="display-block">
              <input id="name" type="text" placeholder="Nombre" formControlName="name" required matInput>
            </mat-form-field>
            <mat-form-field color="accent" class="display-block">
              <input id="printerid" type="text" placeholder="ID Impresora" formControlName="printerid" required
                matInput>
            </mat-form-field>
            <mat-slide-toggle formControlName="defaultPrinter">Impresora por defecto</mat-slide-toggle>
            <div *ngIf="!selectedPrinter" class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="flex-end center"
              fxLayoutGap="16px">
              <button mat-raised-button color="accent" type="button"
                (click)="resetPrinter(printerFormRef)">Limpiar</button>
              <button mat-raised-button color="accent" type="submit" [disabled]="!isValidForm(printerForm)">Crear
                <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
            </div>
            <div *ngIf="selectedPrinter" class="mb-2 mt-1" fxLayout="row" fxLayoutAlign="space-between center"
              fxLayoutGap="16px">
              <button mat-raised-button color="warn" type="button"
                (click)="openDialogPrinter(selectedPrinter, printerForm)">Eliminar</button>
              <button mat-raised-button color="accent" type="submit" [disabled]="!isValidForm(printerForm)">Actualizar
                <mat-icon class="spin" *ngIf="loading">autorenew</mat-icon></button>
            </div>
          </form>
        </mat-card-content>
        <!-- Fin Formulario de creacion de Impresoras -->


      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>