<mat-toolbar color="primary" fxLayout="row" class="toolbar-landing-page">
  <mat-toolbar-row>
    <div fxFlexOffset.xs="0%" fxFlexOffset="10%"></div>
    <span>Open TPV</span>
    <span class="spacer"></span>
    <button mat-raised-button [routerLink]="['/login']" color="accent">Acceder</button>
    <button mat-button [routerLink]="['/signup']" color="accent">Registrarse</button>
    <div fxFlexOffset.xs="0%" fxFlexOffset="10%"></div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutWrap class="h-em-4 p-em-1 background-primary">
  <h4>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </h4>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutWrap class="h-em-16 p-em-1 background-light-primary">
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged.
  </p>
</div>

<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C60.12,92.27 350.88,-49.98 519.31,69.56 L500.00,0.00 L0.00,0.00 Z" class="svg-landing-page"></path>
  </svg></div>

<div fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign="center center" fxLayoutGap="16px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>M&oacute;vil</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://via.placeholder.com/350x150" alt="placeholder">
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tablet</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://via.placeholder.com/350x150" alt="placeholder">
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pc</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://via.placeholder.com/350x150" alt="placeholder">
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayout.xs="column" class="h-em-8">

</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutGap="20px" fxLayoutAlign="space-between center"
  class="h-em-16 p-em-1">
  <div fxFlexOffset.xs="0%" fxFlexOffset.md="0%" fxFlexOffset="10%"></div>
  <div fxFlex="50%" fxLayoutAlign="center">
    <img src="https://via.placeholder.com/350x150" alt="placeholder">
  </div>
  <div fxFlex="50%" fxLayoutAlign="center">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div fxFlexOffset.xs="0%" fxFlexOffset.md="0%" fxFlexOffset="10%"></div>
</div>


<div style="height: 150px; overflow: hidden;">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 350.85,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" class="svg-landing-page"></path>
  </svg>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutWrap class="h-em-6 p-em-1 background-light-primary">
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged.
  </p>
</div>